@import '~Root/styles/var';

:local(.btn) {
  border-radius: 4px;
  height: 44px;
}

:local(.btn):disabled {
  cursor: not-allowed;
}

:local(.btn):focus {
  outline: none;
}

.button-primary, .button-primary:focus {
  background-color: @PersianBlue;
  border: 1px solid @PersianBlue;
  color: white;
}

.button-outline {
  background-color: white;
  color: @PersianBlue;
  border: 1px solid @CatskillWhite;
  box-shadow: 0 2px 10px 0 rgba(134, 146, 164, 0.05);
}

.button-default {
  background-color: @Seashell;
  border: 1px solid @Seashell;
  color: @Waterloo;
}

