@import "font";
@import "var";
@import '~bootstrap/dist/css/bootstrap.css';

html, body, #react {
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
}

.error {
  font-size: 12px;
  line-height: 1.5;
  color: @BurntSienna;
  margin-top: -2px;
}