@import '~Root/styles/var';

:local(.layout) {
  padding: 22px 250px 25px 250px !important;

  @media (max-width: @xl) {
    padding: 22px 54px 25px 54px !important;
  }
}

#container {
  min-height: 100%;
  height: auto;
  position: relative;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

:local(.dashboard) {
  background-color: @Porcelain;
}
