@import '~Root/styles/var';

:local(.drop) {
  //margin-left: 16px;
  margin-top: 6px;

  .dropdown-menu {
    min-width: 100px;
  }
}

:local(.fee) {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: @Waterloo;
}

:local(.fee-value) {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: @Shark;
  text-align: right;

  span {
    color: @Waterloo;
  }
}