@import '~Root/styles/var';

:local(.close) {
  border: none;
  background-color: transparent;
  font-size: 16px;
  color: @Mercury;
  padding: 0;
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 100;
}

:local(.close):focus {
  outline: none;
}