@import '~Root/styles/var';

:local(.balance) {
  background: @Porcelain;
  padding: 12px 11px 10px 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 200px;
}

:local(.balance-title) {
  font-size: 14px;
  color: @Waterloo;

  span {
    color: @Keppel;
    font-size: 12px;
    margin-left: 2px;
  }
}

:local(.balance-value) {
  margin-top: 5px;
  font-size: 20px;
  font-weight: 600;
  color: @Shark;

  span {
    color: @MineShaft;
    font-size: 14px;
    font-weight: normal;
    margin-left: 2px;
  }
}

:local(.title) {
  font-size: 18px;
  font-weight: 600;
  color: @Shark;
  margin-top: 32px;
  margin-bottom: 16px;
}

:local(.label) {
  width: 100px;
  height: 44px;
  border-radius: 4px;
  border: 1px solid @Mercury;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-top: 7px;
  font-size: 16px;
  font-weight: 500;
  color: @Shark;
}

:local(.form) {
  .input-box {
    width: 100%;
    margin-right: 16px;
  }
}

:local(.msg) {
  font-size: 13px;
  color: @Waterloo;
  margin-bottom: 0;
}

:local(.icon) {
  margin-left: 2px;
  cursor: pointer;
}

@media (max-width: @lg) {
  :local(.balance) {
    min-width: calc(50% - 8px);
  }
}
