@import '~Root/styles/var';

:local(.card) {
  padding: 13px 20.5px;
  min-height: 621px;
}

:local(.tab) {
  .nav-tabs {
    border-bottom: 1px solid @Seashell !important;
  }

  .nav-link {
    border: none !important;
    font-size: 16px;
    font-weight: 500;
    padding: 0 12px 11px 12px;
    color: @Waterloo !important;
  }

  .nav-link.active {
    border-bottom: 2px solid @PersianBlue !important;
    color: @PersianBlue !important;
  }
}

:local(.balance-card) {
 padding: 22px 30px 19px 28px;
}

:local(.token-card) {
  margin-top: 30px;
  padding: 24px 29px 19px 30px;
}

